<div class= "container px-5">
  <div class= "row" >
<!--User info,投稿フォーム-->
<%= render partial: 'books/user_post', locals: { user: @user, book: @book } %>

<!--ユーザー一覧-->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <%= render 'index', users: @users%>
    </div>
  </div>
</div>

